.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:center;
  padding: 1rem 2rem;
  border: solid 1px #ccc;
  background-color: inherit;
  color: inherit;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.toggleBtn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: inherit;
    border: 1px solid #ccc;
    padding: 1rem;
  }

  .navLinks.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
