.navbar {
  display: flex;
  width: 100%;
  top: 0;
  position:absolute;
  align-items: center;
  justify-content:center;
  padding: 1rem 1rem;
  border-bottom: solid 2px #ccc;
  background-color: inherit;
  color: inherit;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  width: 80px;
  font-family: Cursive, sans-serif;
  text-align: center;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  /* border: solid 1px #ccc; */
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  width: 60px;
  left: 0;
  float: left;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks li a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: inherit;
    /* border: 1px solid #ccc; */
    padding: 1.5rem;
  }

  .navLinks.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
